.explorer {
  margin-top: var(--size-6);
  display: grid;
  grid-template-areas:
    'cubes cubes'
    'input output';
  grid-template-columns: 3fr 2fr;
  align-items: start;
  gap: var(--size-4);
}

.explorer__cubes {
  grid-area: cubes;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--size-8);
}

.explorer__cubes > :first-child {
  width: 20rem;
  height: 20rem;
}

.explorer__input {
  grid-area: input;
}

.explorer__input > :first-child {
  margin-bottom: var(--size-2);
  display: flex;
  gap: var(--size-2);
}

.explorer__input > :first-child > :first-child {
  flex-grow: 1;
}

.explorer__turns {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas:
    'face wide slice'
    'face wide rotation';
  row-gap: var(--size-1);
  column-gap: var(--size-3);
}

.explorer__turns > :first-child {
  grid-area: face;
}

.explorer__turns > :nth-child(2) {
  grid-area: wide;
}

.explorer__turns > :nth-child(3) {
  grid-area: slice;
}

.explorer__turns > :nth-child(4) {
  grid-area: rotation;
}

.explorer__turngroup {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--size-1);
}

.explorer__output {
  overflow-x: hidden;
}

.explorer__output h5 {
  grid-area: output;
  margin-bottom: var(--size-3);
}

.explorer__output dl {
  padding-bottom: var(--size-1);
  display: grid;
  grid-template-columns: auto 1fr;
  row-gap: var(--size-2);
  column-gap: var(--size-6);
  overflow-x: auto;
  white-space: nowrap;
}

.explorer__output dl * {
  margin: 0;
}

.explorer__output dl {
  overflow-x: auto;
  scrollbar-width: thin;
  scrollbar-color: var(--color-accent) var(--color-grey-200);
}

.explorer__output dl::-webkit-scrollbar {
  height: var(--size-2);
  background-color: var(--color-grey-200);
}

.explorer__output dl::-webkit-scrollbar-thumb {
  background-color: var(--color-accent);
}

@media screen and (max-width: 1920px) {
  .explorer {
    margin-top: var(--size-2);
    row-gap: var(--size-2);
  }

  .explorer__cubes {
    gap: var(--size-4);
  }

  .explorer__cubes > :first-child {
    width: 15rem;
    height: 15rem;
  }

  .explorer__cubes > :nth-child(2) {
    width: 9rem;
    height: 9rem;
  }
}

@media screen and (max-width: 1200px) {
  .explorer__cubes {
    gap: var(--size-3);
  }

  .explorer__cubes > :first-child {
    width: 12rem;
    height: 12rem;
  }

  .explorer__cubes > :nth-child(2) {
    width: 8rem;
    height: 8rem;
  }
}

@media screen and (max-width: 768px) {
  .explorer {
    grid-template-areas:
      'cubes'
      'input'
      'output';
    grid-template-columns: 1fr;
  }

  .explorer__cubes {
    gap: var(--size-1);
  }

  .explorer__cubes > :first-child {
    width: 10rem;
    height: 10rem;
  }

  .explorer__cubes > :nth-child(2) {
    width: 6rem;
    height: 6rem;
  }
}

@media screen and (max-width: 600px) {
  .explorer__turns {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      'face slice'
      'face rotation';
  }

  .explorer__turngroup:nth-of-type(2) {
    display: none;
  }
}
