@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;500;600;700&family=Rubik:wght@400;500;600;700&display=swap');

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-family-rubik);
  font-weight: var(--font-weight-semibold);
  line-height: var(--line-height-sm);
}

h1 {
  font-size: var(--font-scale-6);
}

h2 {
  font-size: var(--font-scale-5);
}

h3 {
  font-size: var(--font-scale-4);
}

h4 {
  font-size: var(--font-scale-3);
}

h5 {
  font-size: var(--font-scale-2);
}

h6 {
  font-size: var(--font-scale-1);
}

small {
  font-size: var(--font-scale-0);
}
