.button {
  position: relative;
  display: inline-block;
  padding: var(--size-2) var(--size-5);
  border-width: var(--size-px);
  border-style: solid;
  border-radius: var(--size-px);
  box-shadow: var(--elevation-2);
  font-family: var(--font-family-karla);
  color: var(--color-black);
  transition: var(--transition-speed-fast);
  text-align: center;
  cursor: pointer;
  user-select: none;
  white-space: nowrap;
}

.button:active {
  transform: scale(0.97);
}

.button:disabled:not(.button--loading) {
  opacity: 0.75;
  pointer-events: none;
}

.button--small {
  padding: var(--size-1) var(--size-3);
}

.button--primary {
  background-color: var(--color-accent-500);
  border-color: var(--color-accent-600);
}

.button--primary:hover {
  background-color: var(--color-accent-600);
  border-color: var(--color-accent-700);
}

.button--primary:active {
  background-color: var(--color-accent-700);
  border-color: var(--color-accent-700);
}

.button--secondary {
  background-color: var(--color-grey-300);
  border-color: var(--color-grey-300);
}

.button--secondary:hover {
  background-color: var(--color-grey-400);
  border-color: var(--color-grey-400);
}

.button--secondary:active {
  background-color: var(--color-grey-500);
  border-color: var(--color-grey-500);
}

.button--tertiary {
  box-shadow: none;
  background-color: transparent;
  color: var(--color-primary-800);
  border-color: var(--color-primary-800);
}

.button--tertiary:hover {
  color: var(--color-white);
  background-color: var(--color-primary-800);
  border-color: var(--color-primary-900);
}

.button--tertiary:active {
  color: var(--color-white);
  background-color: var(--color-primary-900);
  border-color: var(--color-primary-900);
}

.button--ghost {
  padding-left: var(--size-2);
  padding-right: var(--size-2);
  border: none;
  box-shadow: none;
  font-weight: var(--font-weight-medium);
  color: var(--color-primary-800);
  background-color: transparent;
}

.button--ghost:hover {
  color: var(--color-primary-900);
  background-color: var(--color-grey-200);
}

.button--ghost:active {
  color: var(--color-primary-900);
  background-color: var(--color-grey-300);
}

.button--primary.button--danger {
  color: var(--color-white);
  background-color: var(--color-danger-600);
  border-color: var(--color-danger-700);
}

.button--primary.button--danger:hover {
  background-color: var(--color-danger-700);
  border-color: var(--color-danger-800);
}

.button--primary.button--danger:active {
  background-color: var(--color-danger-800);
  border-color: var(--color-danger-900);
}

.button--tertiary.button--danger {
  color: var(--color-danger-700);
  border-color: var(--color-danger-700);
}

.button--tertiary.button--danger:hover {
  color: var(--color-white);
  background-color: var(--color-danger-700);
  border-color: var(--color-danger-800);
}

.button--tertiary.button--danger:active {
  color: var(--color-white);
  background-color: var(--color-danger-800);
  border-color: var(--color-danger-900);
}

.button--ghost.button--danger {
  color: var(--color-danger-700);
}

.button--ghost.button--danger:hover {
  color: var(--color-danger-800);
  background-color: var(--color-danger-100);
}

.button--ghost.button--danger:active {
  color: var(--color-danger-900);
  background-color: var(--color-danger-200);
}

.button.button--loading {
  color: transparent;
  pointer-events: none;
}

.button.button--loading::after {
  content: '';
  display: block;
  position: absolute;
  top: calc(50% - var(--size-2));
  left: calc(50% - var(--size-2));
  width: var(--size-4);
  height: var(--size-4);
  border: 1px solid var(--color-black);
  border-bottom-color: transparent;
  border-left-color: transparent;
  border-radius: var(--size-2);
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.button--tertiary.button--loading::after,
.button--ghost.button--loading::after {
  border-color: var(--color-primary-800);
  border-bottom-color: transparent;
  border-left-color: transparent;
}

.button--danger.button--primary.button--loading::after {
  border-color: var(--color-white);
  border-bottom-color: transparent;
  border-left-color: transparent;
}

.button--danger.button--tertiary.button--loading::after,
.button--danger.button--ghost.button--loading::after {
  border-color: var(--color-danger-700);
  border-bottom-color: transparent;
  border-left-color: transparent;
}

.button--icon {
  display: flex;
  align-items: center;
}

.button--icon svg {
  min-width: var(--size-4);
  min-height: var(--size-4);
  width: var(--size-4);
  height: var(--size-4);
  margin-right: var(--size-2);
}

.button--icon.button--small svg {
  margin-right: var(--size-1);
}

.button--icon--only {
  padding: var(--size-2) var(--size-3);
}

.button--icon--only svg,
.button--icon--only.button--small svg {
  margin-right: 0;
}
