.checkbox {
  width: max-content;
  display: flex;
  align-items: center;
  gap: var(--size-2);
  cursor: pointer;
  user-select: none;
}

.checkbox input {
  appearance: none;
  --size: var(--size-4);
  width: var(--size);
  height: var(--size);
  border: var(--size-px) solid var(--color-primary-800);
  border-radius: var(--size-px);
  display: grid;
  place-content: center;
  outline: none;
  cursor: pointer;
}

.checkbox input:checked {
  background-color: var(--color-primary-800);
}

.checkbox input:checked::before {
  content: '';
  width: 6px;
  height: 8px;
  border: 3px solid var(--color-white);
  border-top: none;
  border-left: none;
  transform: translateY(-1px) rotate(40deg);
}

.checkbox input:focus {
  border: var(--size-px) solid var(--color-accent);
}
