.progress-bar {
  display: flex;
  flex-direction: column;
  gap: var(--size-1);
}

.progress-bar__label {
  display: flex;
  justify-content: space-between;
}

.progress-bar__background {
  height: var(--size-3);
  border-radius: var(--size-px);
  background-color: var(--color-grey-300);
  box-shadow: var(--elevation-1);
}

.progress-bar__foreground {
  height: 100%;
  border-radius: var(--size-px);
  background-color: var(--color-primary-600);
}

@media screen and (max-width: 768px) {
  .progress-bar {
    gap: 0;
  }

  .progress-bar__background {
    height: var(--size-2);
  }
}
